.app-wrapper {
  background: url('/images/landing-desk.jpg');
  background-size: cover;
}
.app-backdrop-filter {
    overflow: hidden;
    backdrop-filter: blur(8px);
    // backdrop-filter: grayscale(20%);
    height: 100%;
    background-image:
      radial-gradient(
        circle farthest-side,
        $nike-black, lighten($nike-black, 5%)
      );
}
