.main-wrapper {
  // width: 100vw;
  height: calc(100vh - 60px);
  margin: 0;
  // position: relative;
  display: flex;
  justify-content:flex-start;
  overflow: hidden;
  background-color: $terminal-black;
  color: white;
  @media (min-width: $laptop-breakpoint) {
    height: calc(100vh - 80px);
  }
}
.info-card {
  margin-left: 5em;
  height: auto;
  // background-color: green;
  width: 680px;
  padding-top: $l-size;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  @media (min-width: $laptop-breakpoint) {
    width:780px;
    overflow: visible;
    // overflow: hidden;
    // height: 500px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    margin-left: 160px;
  }
}
.title {
  // font-family: nimbus-sans,sans-serif;
  // text-transform: uppercase;
  // font-style: italic;
  background-color: white;
  height: calc(100vh - 60px);
  color: $nike-black;
  width: 24px;
  text-align: right;
  // background-color: orange;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: $m-size;
  font-weight: bold;
  border-left: 1px solid $dark-grey;
  padding-bottom: $m-size;
  position: relative;
  @media (min-width: $laptop-breakpoint) {
  height: calc(100vh - 81px);
  width: 99px;
  font-size: 4em;
  // text-align: left;
  padding-top: $l-size;
  }
}
.header1 {
  font-size: $font-size-xl;
  // font-weight: bold;
}
.header1 > span {
  font-weight: bold;
}
.column {
  @media (min-width: $laptop-breakpoint) {
    width: 40%;
    display: inline-block;
    // background-color: red;
  }
}
.photo-box {
  text-align: center;
  background: $off-white;
  display: block;
  margin: auto;
  // transform: translate(-20px, -20px);
  @media (max-width: $mobile-breakpoint) {
    width: 60%;
  }
  @media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
    width: 256px;
  }
  @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
    width: 256px;
  }
  @media (min-width: $laptop-breakpoint) {
    vertical-align: top;
    width: 100%;
    display: inline-block;
    // overflow-x: visible;
  }
  }
.text-column {
  // z-index: -100;
  // margin-left: $s-size;
  // vertical-align: top;
  // background: orange;
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: $m-size;
  @media (min-width: $laptop-breakpoint) {
    margin-top: 0;
    height: auto;
    display: inline-block;
    width: 50%;
  }
}
.portrait {
  // transform: rotate(-10deg);
  // width:256px;
  // border-radius: 50%;
  @media (max-width: $laptop-breakpoint) {
    transform: translate(20px, 20px);
    width:100%;
  }
  @media (min-width: $laptop-breakpoint) {
    transform: translate(20px, 20px);
    width: 100%;
  }
}
