.landing-wrapper {
  height: calc(100vh - 60px);
  // height: calc(100vh - 50px);
  // width: 100vw;
  // overflow: hidden;
  // position: absolute;
  background: url('/images/landing-desk.jpg');
  background-size: cover;
  @media (min-width: $tablet-breakpoint) {
    height: calc(100vh - 80px);
  }
}
.backdrop-filter {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  overflow: hidden;
  backdrop-filter: blur(4px);
  // backdrop-filter: grayscale(20%);
  height: 100%;
}
.landing-title {
  color: $off-white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.landing-subtitle {
  font-weight: bold;
  // font-family: $monaco;
  font-size: $font-size-large;
  text-align: center;
  @media (min-width: $tablet-breakpoint) {
    font-size: $font-size-xl;
  }
}
.landing-icon-row {
  margin-top: 1em;
  text-align: center;
}
.landing-icon {
  height: 56px;
  margin-left: $s-size;
}
.title-card {
  align-self: center;
  width: 100%;
  padding: $s-size;
  // backdrop-filter: blur(2px);
}
