.navbar {
  height: 60px;
  display: flex;
  background-color: $nike-black;
  // color: $grey;
  position:  relative;
  z-index: 100;
  // font-family: $nike-font;
  // font-weight: bold;
  border-bottom: 1px solid $space-grey;
  @media (min-width: $laptop-breakpoint) {
    height: 80px;
  }
}
.navbar > a {
  color: $off-white;
}
.navbar > a:hover {
  background-color: lighten($nike-black, 5%);
  transition: .1s;
  // border-bottom: 2px solid $nike-black;
}
.navbar-item {
  color: $off-white;
  line-height: 60px;
    display: none;
    @media (min-width: $laptop-breakpoint) {
    font-size: $font-size-large;
    // background-color: red;
    align-items: center;
    font-weight: 550;
    line-height: 80px;
    flex-grow: 1;
    display: inline;
    // border-right: 2px solid $dark-grey;
    text-align: center;
  }
}
.navbar-menu-item {
  @extend .navbar-item;
  display: block;
  // border-bottom: 2px solid $dark-grey;
  font-size: $font-size-large;
  color: $nike-black;
  padding-left: $xl-size;
  font-weight: bold;
}
.navbar-menu-item:hover {
  transition: .2s;
  color: darken($nike-black, 20%);
  transform: translateX(5px);
  background-color: darken($off-white, 5%);
}

.navbar-item:hover{
  .ul {
    display:block;
  }
}

.search-icon {
  margin: auto;
  padding-left: $s-size;
  height: 32px;
  @media (min-width: $laptop-breakpoint) {
    height: 2em;
  }
}
.searchbar {
    color: $grey;
    flex-grow: 8;
    background: none;
    font-weight: 300;
    border: none;
    padding: $s-size;
    font-size: $font-size-xl;
    @media (min-width: $laptop-breakpoint) {
      font-size: 2em;
    }
}
.searchbar:focus {
  outline: none;
  color: $off-white;
}
.corner {
  display: none;
  @media (min-width: $laptop-breakpoint) {
    width: 100px;
    display: inline-block;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 600;
    // border-right: 2px solid $dark-grey;
  }
}
.navbar-menu {
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);

  background-color: $off-white;
  padding-top: 20px;
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  // border-right: 2px solid $dark-grey;
  position: absolute;
  @media (min-width: $laptop-breakpoint) {
    display: none;
  }
}
// .navbar-menu-icon {
//   @media (min-width: $laptop-breakpoint) {
//     display: none;
//   }
//   width: 60px;
//   display: inline-block;
//   padding: $s-size;
//   border-right: 2px solid $dark-grey;
// }
.hamburger {
  // background-color: red;
  margin-left: 10px;
  // align-self: flex-end;
  @media (min-width: $laptop-breakpoint) {
    display: none;
  }
}
.icon-bar {
  display: block;
  width: 36px;
  height: 4px;
  background-color: $off-white;
  margin: 4px;
  margin-top: 6px;
  transition: all 0.2s;
  border-radius: 4px;
}
.top-bar {
  margin-top: 16px;
  transform: rotate(0);
}
.middle-bar {
  opacity: 1;
}
#buttonControl {
  display: none;
}
#buttonControl:checked + label {
  .top-bar {
    transform: rotate(45deg) translate(8px, 8px);
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  .navbar-menu {
    transform: none;
  }
}
.ul {
  display: none;
  // outline: 2px solid $dark-grey;
  // box-shadow: 0 2px 2px 2px $dark-grey;
}
.li {
  // margin-top: 2px;
  color: $off-white;
  font-size: $s-size;
  text-align: right;
  padding-right: $xs-size;
  display: block;
  line-height: 40px;
  height: 40px;
  background-color: $nike-black;
  // border-bottom: 1px solid $space-grey;
  border-left: 1px solid $space-grey;
  border-right: 1px solid $space-grey;
}
.li:last-of-type {
  border-bottom: 1px solid $space-grey;
}
.li:hover {
  background-color: lighten($nike-black, 5%);
}
