.projects-wrapper {
  overflow: scroll;
  // width: calc(100vw - 80px);
  // height:100vh;
  @media (max-width: $laptop-breakpoint) {
    width: calc(100vw - 25px);
    height: calc(100vh - 60px);
  }
  // @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint) {
  //   left: 24px;
  //   position: absolute;
  //   direction: rtl;
  //   // background-color: orange;
  //   overflow-y: scroll;
  //   overflow-x: hidden;
  //   transform: rotate(270deg) translateX(-100%);
  //   transform-origin: top left;
  //   // bottom: 0px;
  //   width: calc(100vh - 60px);
  //   height: calc(100vw - 25px);
  // }
  @media (min-width: $laptop-breakpoint) {
    left: 99px;
    position: absolute;
    direction: rtl;
    // background-color: yellow;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    // position:static;
    width: calc(100vh - 80px);
    height:calc(100vw - 99px);
    -ms-overflow-style: none;
  }
}
.projects-wrapper::-webkit-scrollbar {
  display: none;
}
.desktop-project-wrapper {
  @media (min-width: $desktop-breakpoint) {
    // background-color: green;
    width:1000px;
    margin-left: 99px;
  }
}
.horizontal-scroll-wrapper{
  // @media (min-width: $tablet-breakpoint) {
  //   direction: ltr;
  //   transform: rotate(90deg) translateY(calc(-100vh));
  //   transform-origin: top left;
  //   white-space:nowrap;
  // }
  @media (min-width: $laptop-breakpoint) {
    direction: ltr;
    transform: rotate(90deg) translateY(calc(-100vh + 80px));
    transform-origin: top left;
    white-space:nowrap;
  }
}
.project-item {
  display: block;
  // width: calc(100vw - 25px);
  min-height: calc(100vh - 100px);
  // background-color: grey;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid $grey;
  // display:inline-block;
  // position:relative;
  // @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint){
  //   // transform:translateY(50%);
  //   bottom: -60px;
  //   width:calc(100vw - 25px);
  //   height:calc(100vh - 60px);
  //   overflow-x: hidden;
  //   overflow-y: hidden;
  //   display:inline-block;
  //   position:relative;
  //   // background-color: red;
  //   border-right: 1px solid $dark-grey;
  //   border-bottom: none;
  // }
  @media (min-width: $laptop-breakpoint) {
    border-bottom: 1px solid $space-grey;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: top;
    width:calc(100vw - 99px);
    height:calc(100vh - 82px);
    display:inline-block;
    position:relative;
    // background-color: red;
    border-right: 1px solid $dark-grey;
  }
}
.project-item-footer {
  vertical-align: top;
  width: 25px;
  height: 25px;
  // background-color: blue;
  // height: calc(100vh -82px);
  display: inline-block;
  position: relative;
  @media (max-width: $laptop-breakpoint) {
    height: 150px;
  }
  @media (min-width: $laptop-breakpoint) {
    width: 99px;
  }
}
.project-column-1 {
  display: block;
  margin: auto;
  // background-color: red;
  width: 80%;
  // @media (min-width: $tablet-breakpoint ) and (max-width: $laptop-breakpoint) {
  //   display: inline-block;
  //   margin: auto;
  //   width: 60%;
  // }
  @media (min-width: $laptop-breakpoint) {
    display: inline-block;
    width: 50%;

  }
}
.project-column-2 {
  @extend .project-column-1;
  vertical-align: top;
  // background-color: purple;
  // @media (min-width: $tablet-breakpoint ) and (max-width: $laptop-breakpoint) {
  //   display: inline-block;
  //   margin: auto;
  //   width: 40%;
  // }
  @media (min-width: $laptop-breakpoint) {
    display: inline-block;
    width: 40%;
    // background-color: red;
  }
}

.project-title {
  font-family: $nike-font;
  font-weight: bold;
  margin-left: $l-size;
  margin-bottom: $s-size;
  font-size: 2em;
  // background-color: orange;
  opacity: 0;
  animation: 1s ease-out 0.2s 1 nameSlideIn;
  animation-fill-mode: forwards;
  @media (max-width: $laptop-breakpoint) {
    margin-top: $xs-size;
    font-size: $font-size-xl;
  }
}
.project-picture {
  // background-color: green;
  display: block;
  // width: 90%;
  // max-height: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: $s-size;
  opacity: 0;
  animation: 1s ease-out 0.5s 1 projectPicSlideUp;
  animation-fill-mode: forwards;
  color: $nike-black;
  width:100%;
  @media (min-width: $laptop-breakpoint) {
    width: 90%;
  }
}
.project-links {
  margin-top: $s-size;
  margin-bottom: $s-size;
  // background-color: pink;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 38px;
  @media (min-width: $tablet-breakpoint) {
    margin-top: $s-size;
    margin-bottom: $s-size;
    text-align: center;
  }
  @media (min-width: $laptop-breakpoint) {
    height: 52px;
  }
}
.project-link {
  font-size: $font-size-xs;
  background-color: $terminal-black;
  padding: $xs-size;
  border: 1px solid $grey;
  border-radius: 2px;
  color: $off-white;
  margin-left: $s-size;
  opacity: 0;
  animation: 1s ease-out 1s 1 subtitleSlideDown;
  animation-fill-mode: forwards;
  @media (min-width: $tablet-breakpoint) {
    font-size: $font-size-small
  }
  @media (min-width: $laptop-breakpoint) {
    padding: $s-size;
    margin-right: $s-size;
    font-size: $font-size-large;
  }
  // display: block;
  // width: auto;
  // background-color: $terminal-black;
}
.project-link:hover {
  background-color: $dark-grey;
  transition: .5s;
}
.project-description {
  margin-top: $s-size;
  margin-left: auto;
  margin-right: auto;
  // background-color: blue;
  // width: 100%;
  // height: 100px;
  opacity: 0;
  white-space: normal;
  animation: 1s ease-out 0.5s 1 textSlideLeft;
  animation-fill-mode: forwards;
  @media (max-width: $laptop-breakpoint) {
    margin: auto;
    width: 100%;
    // font-size: $font-size-small
  }
  // @media (min-width: $tablet-breakpoint ) and (max-width: $laptop-breakpoint) {
  //   margin: auto;
  //   width: 280px;
  //   // font-size: $font-size-small
  // }
  @media (min-width: $laptop-breakpoint) {
    display: block;
    width: 360px;
    height: auto;
  }
  // @media (min-width: $tablet-breakpoint) {
  //   width: 360px;
  // }
}
.project-languages {
  opacity: 0;
  animation: 1s ease-out 1s 1 textSlideLeft;
  animation-fill-mode: forwards;
  margin-bottom: 20px;
  @extend .project-description;
  // background: green;
}
.project-languages > span {
  font-weight: bold;
}
.languages-list {
  font-family: $nike-font;
}
.project-github {
  @extend .project-link
}
.noProjects {
  font-family: $nike-font;
  font-weight: bold;
  font-size: $font-size-xl;
  margin-top: $m-size;
  margin-left: $m-size;
  @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint){
    margin-bottom: 260px;
  }
}
