.tech-card {
  @extend .info-card;
  height: auto;
  // width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // background-color: $terminal-black;
  overflow: scroll;
}
.tech-subtitle-header-1{
  @media (max-width: $laptop-breakpoint) {
    font-size: $font-size-xl;
  }
  opacity: 0;
  animation: 1s ease-out 0.2s 1 nameSlideIn;
  animation-fill-mode: forwards;
}
.tech-subtitle-header-2{
  @media (max-width: $laptop-breakpoint) {
    font-size: $font-size-xl;
  }
  opacity: 0;
  animation: 1s ease-out 0.5s 1 nameSlideIn;
  animation-fill-mode: forwards;
}
.tech-subtitle-header-3{
  @media (max-width: $laptop-breakpoint) {
    font-size: $font-size-xl;
  }
  opacity: 0;
  animation: 1s ease-out 0.8s 1 nameSlideIn;
  animation-fill-mode: forwards;
}
.tech-subtitle-header-4{
  @media (max-width: $laptop-breakpoint) {
    font-size: $font-size-xl;
  }
  opacity: 0;
  animation: 1s ease-out 1.1s 1 nameSlideIn;
  animation-fill-mode: forwards;
}
.tech-subtitle-header-5{
  @media (max-width: $laptop-breakpoint) {
    font-size: $font-size-xl;
  }
  opacity: 0;
  animation: 1s ease-out 1.4s 1 nameSlideIn;
  animation-fill-mode: forwards;
}
.tech-menu {
  height: 400px;
  vertical-align: top;
  display: inline-block;
  width: 220px;
  // background-color: red;
  margin-top: $s-size;
  margin-left: $s-size;
  text-align: center;
  border: 1px solid $grey;
  // background-color: $terminal-black;
  border-radius: 4px;
}
.tech-menu > h2 {
  color: $off-white;
  height: 80px;
  // border-bottom: 1px solid $grey;
  margin-top: $xs-size;
  margin-bottom: $s-size;
}
.single-line-h2 {
  line-height: 80px;
}
.tech-menu >h4 {
  font-weight: 500;
  // background-color: orange;
  margin-top: $xs-size;
  margin-bottom: 0;
}
.tech-related-menu {
  width: 80%;
  @media (min-width: $laptop-breakpoint) {
    width: 760px;
    height: auto;
    margin: auto;
  }
  @media (min-width: $desktop-breakpoint) {
    width: 960px;
    height: auto;
    margin: auto;
  }
}
.tech-column {
  height: auto;
  width: 280px;
  vertical-align: top;
  display: block;
  @media (min-width: $mobile-breakpoint ) and (max-width: $tablet-breakpoint) {
    margin: auto;
    width: 100%;
  }
  @media (min-width: $tablet-breakpoint ) and (max-width: $laptop-breakpoint) {
    margin: auto;
    width: 100%;
  }
  @media (min-width: $laptop-breakpoint) and (max-width: $desktop-breakpoint) {
    display: inline-block;
    width: 360px;
    height: auto;
  }
  @media (min-width: $desktop-breakpoint) {
    display: inline-block;
    width: 360px;
    height: auto;
  }
}
.tech-subtitle-header {
  color: $off-white;
  @media (max-width: $tablet-breakpoint) {
    font-size: 1.5em;
  }
}
.tech-related-menu ul {
  border-top: 1px solid darken($off-white, 10%);
  color: $off-white;
  font-weight: bold;
}
.ul-1 {
  opacity: 0;
  animation: 1s ease-out 0.3s 1 textSlideLeft;
  animation-fill-mode: forwards;
}
.ul-2 {
  opacity: 0;
  animation: 1s ease-out 0.6s 1 textSlideLeft;
  animation-fill-mode: forwards;
}
.ul-3 {
  opacity: 0;
  animation: 1s ease-out 0.9s 1 textSlideLeft;
  animation-fill-mode: forwards;
}
.ul-4 {
  opacity: 0;
  animation: 1s ease-out 1.2s 1 textSlideLeft;
  animation-fill-mode: forwards;
}
.ul-5 {
  opacity: 0;
  animation: 1s ease-out 1.5s 1 textSlideLeft;
  animation-fill-mode: forwards;
}
.vertical-list {
  font-size: 16px;
}
.vertical-list::before{
    content: " \00b7 ";
    font-size: 1.2em;
    font-weight: bold;
}
.tech-asset-row {
  margin-top: $s-size;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  // background-color: red;
}
.tech-asset {
  width: 48px;
  height: 48px;
}
.tech-footer{
  width: 100%;
  height: 150px;
}
