//Colors:
$yellow: #FFDB72;
$space-grey: #1C1C1C;
$dark-grey: #333333;
$grey: #666;
$blue: #1C88BF;
$dark-blue: #364051;
$off-white: #f7f7f7;
$terminal-black: #1E1E1F;
$matrix-green: #40C833;
$nike-black: #101010;
$nike-grey: #111111;
$atom-yellow: #CB9663;
$atom-purple: #9662AA;
$atom-red: #AE4B44;
$atom-green: #3C8F67;
$atom-teal: #55B3BF;
$atom-lime: #97C379;
$atom-blue: #60AFEF;
//Font Size:
$font-size-xl: 2.4rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-xs: 1rem;
//Spacing:
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$mobile-breakpoint: 22rem; //352px
$tablet-breakpoint: 40rem; //640px
$laptop-breakpoint: 56rem; //896px
$desktop-breakpoint: 75rem; //1200px
//Font Family:
$monaco: "Lucida Console", Monaco, monospace;
$ader: 'futura','나눔고딕',NanumGothic,'Nanum Gothic',arial,Helvetica,AppleGothic,sans-serif;
$nike-font: 'Futura', "Trebuchet MS", Arial, sans-serif;
